@media(max-width: 800px) {
    /* Header */
    header {
        height: 15vh;
    }
    .title_header {
        font-size: 12vw;
        margin-top: 3vw;
    }
    .subtitle_header {
        font-size: 3vw;
    }
    nav {
        display: none;
    }
    .nav_title {
        font-size: 4vw;
    }
    .nav_text {
        font-size: 3vw;
    }
    .input_search {
        display: none;
    }
    /* Section planets */
    .section_planets {
        display: block;
        column-count: 1;
        column-gap: 15px;
        column-fill: auto;
        width: 90%;
    }
    .article_planet {
        display: grid;
        grid-template-columns: 68% 30%;
        grid-gap: 3vw;
    }
    .article_planet p {
        font-size: 2vw;
    }
    .article_planet img {
        margin-top: auto;
        margin-bottom: auto;
    }
    /* Quote */
    .quote_section {
        height: 15vh;
    }
    .quote {
        height: 10vh;
    }
    .quote h2 {
        font-size: 4vw;
        margin-top: 3vh;
    }
    .quote_autor {
        font-size: 3vw;
        margin-top: 1vw;
    }
    /* Section calculator */
    .section_calculator h2 {
        font-size: 4vw;
    }
    .section_calculator h5 {
        font-size: 3vw;
    }
    .section_calculator a button {
        font-size: 4vw;
        border: 1px solid black;
        border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
        padding: 1vw 2vw 1vw 2vw;
    }
    footer span {
        font-size: 3vw;
    }
    /* Calculator */
    .section_main_calculator {
        width: 95%;
    }
    #title_calculator {
        font-size: 6vw;
    }
    .explication {
        font-size: 3vw;
        width: 100%;
    }
    .calculator {
        width: 90%;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    #planet {
        font-size: 4vw;
    }
    #calculate {
        font-size: 3vw;
        border: 0px solid #000000;
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        width: 80%;
    }
    /* Result */
    .section_result h2 {
        font-size: 4vw;
    }
    .section_result p {
        font-size: 3vw;
    }
    /* Preloader */
    /**Preloader**/
    .centrar {
        margin-top: 2vw;
        text-align: center;
    }
    .preloader {
        animation-name: girar;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        border: 10px solid #eee;
        border-radius: 50%;
        border-top: 10px solid #666;
        height: 15vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25vh;
        width: 15vw;
    }
    @keyframes girar {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}